p, h1{
    color: red;
}
div{
    border: solid red 2px;
    text-align: center;
    margin-left: 450px;
    margin-right: 450px;
    height: 750px;
}
body{
    background: black;
}
.text1{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 75px;

}
a{
    color: white;
    border-radius: 200px;
    background-color: red;
    padding: 15px;
    text-decoration: none;
    
}